@model IEnumerable<HeritageWebApplication.Models.User>
@{
    ViewBag.Title = "Список пользователей";
}
@{
    Layout = "_Layout";
}
<p> Информация начиная с @ViewBag.time </p>
<table class="table">
    <tr><th>Email</th><th></th><th></th></tr>
    @foreach (var user in Model)
    {
        @if (user.Email != @ViewBag.userMail)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <form action="/admin/users/delete?id=@user.Id" method="post">
                        <a class="draw-outline draw-outline--tandem" href="/admin/users/changepassword?id=@user.Id">Сменить пароль</a>
                        <button class="draw-outline draw-outline--tandem" type="submit"> Удалить </button>
                    </form>
                </td>
            </tr>
        }
    }
</table>