@model IEnumerable<HeritageWebApplication.Models.Comment>
@{
    Layout = "_Layout";
}
@{
    ViewBag.Title = "Список комментариев";
}
<script>
    function setLocalDate(utcDate) {
        var date = new Date(utcDate);
        document.getElementsByName('commentTime')[document.getElementsByName('commentTime').length - 1].innerText = "Date: " + date.toLocaleString();
    }
</script>


<a href="~/admin/comment/create">Добавить комментарий</a>
 
<div>
    @foreach (var comment in Model)
    {
        <p>@comment.Text</p>
        <p>
            <table>
                <p name="commentTime">
                    @comment.Time.ToString("yyyy-MM-ddTHH:mm:ssZ")
                </p>
                
                <script>
                    var convertDate = document.getElementsByName('commentTime')[document.getElementsByName('commentTime').length - 1].innerText;
                    setLocalDate(convertDate);
                </script>

                @{
                    if (@comment.IsEdited)
                    {
                        <p>edited</p>
                    }
                }
            </table>
        </p>
        <p>
            <p>
                <form action="/admin/comment/delete?id=@comment.Id" method="post">
                    <a class="draw-outline draw-outline--tandem" href="/admin/comment/edit?id=@comment.Id">Edit</a>
                    <button class="draw-outline draw-outline--tandem" type="submit"> Delete </button>
                </form>
            </p>
        </p>
    }
</div>
